{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card mx-auto my-3">
            <div class="card-header">
                <h5 class="text-center">Upload Video</h5>
            </div>
            <div class="card-body">
                <form class="mx-auto" action="{% url 'upload_video' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-success btn-lg" value="Post">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}