{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row">
        {% for asset in assets %}
            <div class="card">
                <div class="card-body">
                    <video controls>
                        <source src="{{asset.assetfile.url}}" type="video/mp4"></source>
                    </video>
                </div>
                <div class="card-header">
                    <p><strong>{{asset.name}}</strong></p>
                    <p>Uploaded at: {{asset.date_time}}</p>
                    <p>Uploaded by: {{asset.user}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}